.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  height: 20vh;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(6px + 2vmin);
  color: rgba(233, 37, 37, 0.894);
  border-bottom: 2px solid rgba(233, 37, 37, 0.894);
  padding: 10px 5px;
}

.logo {
  width: 135px;
  height: 135px;
}

.App-body {
  padding: 20px;
  min-height: 60vh;
}

.App-footer {
  border-top: 2px solid rgba(233, 37, 37, 0.894);
  text-align: center;
  font-style: italic;
}
